* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Body*/
body {
    background-color: cadetblue;
    padding: 10px;

    font-family: Arial, sans-serif;
}

nav {
    background-color: #333;
    color: white;
    padding: 20px;
    display: block;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;

}

nav a {
    color: white;
    text-decoration: none;
}

/*main*/

main {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    color: #000;
}

h1 {
    color: red;
    margin-bottom: 20px;

}

/*image*/
main img {
    width: 200px;
    height: auto;
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
    box-shadow: 5px 5px 10px #333;
}

aside {
    width: 200px;
    margin: 20px;
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #eee;
    color: #333;

}

aside img {
    width: 200px;
    height: auto;
}

aside {
    padding: 0;
}

section {
    max-width: 600px;
    color: #222;
    margin: 20px auto;
    padding: 10px;
    background-color: #e0f7fa;

}

p {
    padding: 0;

}

footer {
    margin-top: 20px;
    background-color: #333;
    text-align: center;
    color: white;
    padding-top: 10px;
    border-top: 1px solid #333;
}