* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --heading-background-color: darkblue;
    --heading-text-color: #ffff;
    --heading-font: Lato, arial, sans-serif;
    --padding: 1rem;
    --border: 1px solid rgb(0 0 0 / 0.1);
}

header,
.grid,
footer {
    max-width: 840px;
    margin: 0 auto;
}

body {
    background-color: white;
    padding: 10px;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

nav {
    background-color: black;
    padding: 10pix;
    display: flex;
    justify-content: space-evenly;
    text-align: center;

}

nav a {
    color: #fff;
    padding: 0.5rem;
    display: block;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    font-family: Arial, sans-serif;

}

h1 {
    color: black;
    padding: 1rem;
    margin-left: 0.1rem;
    border-bottom: 2px solid steelblue;
}

main {
    max-width: 840px;
    grid-column: 2/3;
    display: flex;
    align-items: center; /* centraliza verticalmente */
    gap: 1rem;           /* espaço entre imagem e texto */

}

aside {
    width: 20rem;
    border: 2px solid darkblue;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
    color: #000;
    text-align: center;
}

h2 {

    left: 100px;
    top: 30px;
    position: absolute;

}

aside img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;

}

main img {
    width: 150px;
    height: auto;
    float: right;

}

padding {
    padding-left: 0;
}

.grid {
    display: grid;
    grid-template-columns: 0.3fr 500px;
    gap: 5px;
}

p {
    margin: 1rem 0;
    text-align: center;
    margin-left: 1rem;
}

.grid {
    display: grid;
    align-items: center;
}

.padding-left {
    padding-left: 2em;
}

footer {
    clear: both;
    margin-top: 3rem;
    background-color: black;
    text-align: center;
    color: white;
    padding-top: 0.2px;
    border-top: 1px solid #333;
}

/*Class selectors*/
.box {

    margin: 1em;
    border-top: 2px solid black;
    text-align: center;
}
