* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Body*/
body {
    background-color: white;
    padding: 10px;

    font-family: Roboto, Arial, sans-serif;
}

main {
    flex: 1;
    /* faz o conteúdo crescer e empurrar o footer para baixo */
}

nav {
    background-color: steelblue;
    padding: 10px;
}

nav a {
    color: white;
    padding: 15px;
    display: inline-block;
    /* Alinha Home, Rafting, etc, lado a lado */
    text-decoration: none;
}

h1 {
    color: steelblue;
    padding: 1rem;
    margin-left: 1rem;
}

main {
    max-width: 840px;
    /* Adicione o 'px' aqui para funcionar */
    margin: 0 20px;
    background-color: white;
    /* Para dar o efeito de papel sobre o fundo */
    padding: 20px;
}

/*image*/
main img {
    width: 80px;
    height: auto;
    float: right;
    margin-top: 120px;
    margin: 0 auto 20px;
    margin-left: 15px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

p {
    margin: 1rem 0;
    text-align: left;
}

aside {
    width: 20em;
    text-align: center;
    position: relative;

}

aside {
    width: 300px;
    float: left;
    /* No modelo original, as caixas informativas ficam à esquerda ou fluem com o texto */
    text-align: center;
    margin: 20px 0;
}

aside h2 {
    /* Remova o position: absolute! Use margens simples */
    color: #333;
    margin-top: 25px;
    position: absolute;
    top: 10px;
    left: 60px;

}

aside img {
    width: 100%;
    /* Faz a imagem ocupar toda a largura da caixa cinza */
    height: auto;
}

/*Class selectors*/
.box {

    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 1rem;
    background-color: #eee;
    color: #000;
}

.indent {
    padding-left: 2rem;
}

footer {
    clear: both;
    margin-top: 20px;
    background-color: #333;
    text-align: center;
    color: white;
    padding-top: 10px;
    border-top: 1px solid #333;
}