* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Body*/
body {
    background-color: white;
    padding: 10px;

    font-family: Roboto, Arial, sans-serif;
}

main {
    flex: 1;
    /* faz o conteúdo crescer e empurrar o footer para baixo */
    max-width: 840px;
    margin: 0 20px;
    background-color: white;
    /* efeito de papel sobre o fundo */
    padding: 20px;
}

nav {
    background-color: steelblue;
    padding: 10px;
}

nav a {
    color: white;
    padding: 15px;
    display: inline-block;
    /* Alinha Home, Rafting, etc, lado a lado */
    text-decoration: none;
}

h1 {
    color: steelblue;
    padding: 1rem;
    margin-left: 0.1rem;
}

/*image*/
main img {
    width: 120px;
    height: auto;
    float: right;
    margin: 0 auto 20px;
    margin-left: 15px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

p {
    margin: 1rem 0;
    text-align: left;
    margin-left: 1rem;
}

aside {
    width: 20em;
    float: left;
    text-align: left;
    position: relative;
    margin: 20px 0;
}

aside h2 {

    color: #333;
    margin-top: 25px;
    position: static;

}

ul p {
    text-align: left;
    /* texto alinhado à esquerda */
}

aside ul {
    list-style-type: none;
    /* opcional: remove marcadores */
    padding-left: 0;
    text-align: left;
    /* links alinhados à esquerda */
}

aside a {
    display: block;
    /* cada link em uma linha */
    margin: 5px 0;
    color: steelblue;
    /* cor dos links */
    text-decoration: none;
}

aside img {

    height: auto;
    float: right;
}

/*Class selectors*/
.box {

    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 1rem;
    background-color: #eee;
    color: #000;
}

.indent {
    padding-left: 2rem;
}

/*mudei isso*/
.flag-box {
    position: relative;
    display: inline-block;
}

.flag-box img {
    width: 270px;
    height: auto;
    display: block;
}

.flag-text {
    position: absolute;
    top: 20%;
    /* ajusta a altura para ficar na faixa amarela */
    left: 50%;
    transform: translate(-50%, -50%);
    color: blue;
    /* cor do texto para contraste */
    font-weight: bold;
    font-size: 1.2rem;
    background: rgba(255, 255, 255, 0.3);
    /* opcional: fundo semitransparente */
    padding: 2px 6px;
    border-radius: 4px;
}

.flag-box h2 {
    position: absolute;
    bottom: 10px;
    /* posição dentro da imagem */
    left: 50%;
    transform: translateX(-50%);
    color: white;
    /* cor do texto */
    font-weight: bold;
    background: rgba(0, 0, 0, 0.4);
    /* fundo semitransparente opcional */
    padding: 2px 6px;
    border-radius: 4px;
}

/*ate aqui*/
footer {
    clear: both;
    margin-top: 20px;
    background-color: #333;
    text-align: center;
    color: white;
    padding-top: 10px;
    border-top: 1px solid #333;
}